<!-- start header section-->
<header class="relative header header-before-login">
  <nav class="navbar navbar-expand-lg header-top2">
    <div class="container">
      <a class="navbar-brand logoname pointer" href="#">
        <img src="/assets/images/logo/logo.svg">
      </a>
      <button class="navbar-toggler togglerBtn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" onclick="myFunction(this)">
        <span class="tbar tbar1"></span>
        <span class="tbar tbar2"></span>
        <span class="tbar tbar3"></span>
      </button>
      <div class="collapse navbar-collapse header-top-memu" id="navbarResponsive">
       <ul class="navbar-nav ml-auto topmenu-ul1">
          <li class="nav-item">
            <a class="nav-link tpmenu" href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
